html {
  font-size: 20px;
}

body {
  display: grid;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
}

#background-layer {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#title,
#description {
  justify-self: center;
}

#title {
  padding-top: 2rem;
}

form {
  width: 30rem;
  justify-self: center;
  padding: 1.5rem 3rem 4rem;
  margin: 1rem auto 3rem;
  background-color: rgba(25, 10, 49, 0.692);
}

#personal-info,
#recommend,
#favorite-feature,
#improvements,
#user-suggestions {
  display: grid;
  padding: 1rem 0;
}

#improvements-checkbox,
#recommend-radios {
  display: grid;
  grid-template-columns: 1.5rem auto;
}

#personal-info label {
  margin-top: 1rem;
}

input {
  padding: 0.3rem 0.6rem;
  border-style: none;
  height: 1.3rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0.5rem 0;
  transform: scale(1.3);
}

select {
  padding: 0.3rem;
  border-style: none;
  background-color: white;
  height: 1.9rem;
  font-size: 0.86rem;
}

label {
  margin: 0.55rem 0 0.3rem;
}

.smaller-text {
  font-size: 0.7rem;
}

#submit {
  width: 100%;
  padding: 0.8rem;
  background-color: #5bb066;
  color: white;
  border-style: none;
  font-size: 1rem;
}
